* { /* all elements */
  box-sizing: border-box;
}

html {
  height: 100%; /* root height equal to 100% of viewport*/
}

body {
  min-height: 100%; /* body height grows to fit contents, can overflow root height */
  font-family: 'Bebas Neue', cursive;
  background-color: #c5c5c5;
  line-height: 1.5;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;

}

main {
  flex: 1;
}

#calculator {
  background-color: #0077b5;
  border: solid 5px #03045e;
  border-radius: 15px;
  width: 404px;
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}

#display-container {
  border: solid 2px #03045e;
  border-radius: 10px;
  background-color: #f9faf8;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-end;
  min-height: 116px; /* prevent display collapse with no content */
  padding: 10px;
}
#top-display {
  font-size: 20px;
  word-break: break-all; /* break word at point it overflows */
  min-height: 30px;
  line-height: 1;
}
#main-display {
  font-size: 40px;
  word-break: break-all; /* break word at point it overflows */
  min-height: 40px;
  line-height: 1;
}

#buttons-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.top-btns {
  width: 172px;
  height: 83px;
}
button {
 height: 75px;
 width: 81px;
 border: solid 2px #03045e;
 border-radius: 10px;
 font-size: 22px;
 color: #03045e
}
button:hover {
  border: solid 3px #03045e;
}
button:active {
  background-color: #cfd1ce;
}

footer {
  font-family: 'Economica', sans-serif;
  font-size: 30px;
  padding: 50px;
  min-width: 320px;
}


