* { /* all elements */
  box-sizing: border-box;
}

html {
  height: 100%; /* root height equal to 100% of viewport*/
}

body {
  min-height: 100%; /* body height grows to fit contents, can overflow root height */
  font-family: 'Roboto', sans-serif;
  background-color: #252525;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

main {
  flex: 1; /* grow to fit space and keep footer at bottom */
}

#calculator {
  background-color: #6110ff;
  border: solid 5px #03045e;
  border-radius: 15px;
  width: 404px;
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}

#display-container {
  border: solid 2px #03045e;
  border-radius: 10px;
  background-color: #f9faf8;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-end;
  min-height: 116px; /* prevent display collapse with no content */
  padding: 10px;
}
#top-display {
  font-size: 20px;
  word-break: break-all; /* break word at point it overflows */
  min-height: 30px; 
}
#main-display {
  font-size: 50px;
  word-break: break-all; /* break word at point it overflows */
  min-height: 50px;
}

#buttons-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.erase-btns {
  width: 126.5px;
  height: 75px;
  background-color: #ff5252;
}
.erase-btns:active {
  background-color: #ff2929;
}
.operator {
  background-color: #ff982f;
}
.operator:active {
  background-color: #ff8100;
}
#multiply {
  padding-top: 13px;
}
#zero {
  width: 172px;
}
button {
 height: 75px;
 width: 81px;
 border: solid 2px #03045e;
 border-radius: 10px;
 font-size: 22px;
 color: #03045e;
 background-color: #b8ff6b;
}
button:hover {
  border: solid 3px #03045e;
}
button:active {
  background-color: #86ff00;
}

footer {
  font-family: 'Playball', cursive;
  font-size: 40px;
  padding: 10px;
  min-width: 320px;

  
}

a {
  /* text-decoration: none; */
  color: #b8ff6b;
}
a:hover {
  font-size: 41px;
  color: #ff982f;
}
a:active {
  color: #ff5252;
}


